<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/yoga.png" alt="">
  </div>
  <div class="headings">
    <h2>FitBliz Fitness</h2>
    <h3>For fitnesss enthusiast</h3>
    <a href="/trainers" class="btn">View trainer</a>
  </div>
</header>


<%- include('partials/footer'); -%>