<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/yoga.png" alt="smoothie recipe icon">
    <h4>Utkatasana</h4>
    <p>fighting anxiety, depression, and stress</p>
  </li>
  <li class="recipe">
    <img src="/yoga.png" alt="smoothie recipe icon">
    <h4>Uttana shishosana</h4>
    <p>health benefits beyond flexibility and balance</p>
  </li>
  <li class="recipe">
    <img src="/yoga.png" alt="smoothie recipe icon">
    <h4>Virabhadrasana</h4>
    <p>reducing inflammation in the bodyberries</p>
  </li>
  <li class="recipe">
    <img src="/yoga.png" alt="smoothie recipe icon">
    <h4>Virabhadrasana</h4>
    <p>fighting anxiety, depression, and stress</p>
  </li>
  <li class="recipe">
    <img src="/yoga.png" alt="smoothie recipe icon">
    <h4>Savasana</h4>
    <p>health benefits beyond flexibility and balance</p>
  </li>
  <li class="recipe">
    <img src="/yoga.png" alt="smoothie recipe icon">
    <h4>Kumbhakasana</h4>
    <p>reducing inflammation in the bodyberries</p>
  </li>
</ul>

<%- include('partials/footer'); -%>